<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("./adminHeader") %>
    <%- include("./sidebar") %>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">Add New User</h1>
                    <h1 class="page-subhead-line">This is dummy text , you can replace it with your original text. </h1>

                </div>
            </div>
            <!-- /. ROW  -->
            <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
           <div class="panel panel-info">
                    <div class="panel-heading">
                       Add New User
                    </div>
                    <div class="panel-body">
                        <form action="/form" method="post">
                                    <div class="form-group">
                                        <label for="fname">Name:</label><br>
                                        <input class="form-control" id="fname" name="name" ><br>
                                    </div>
                             <div class="form-group">
                                <label for="password">E-Mail</label><br>
                                        <input class="form-control" type="email" id="email" name="email" ><br>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Age</label><br>
                                                <input class="form-control" type="text" id="age" name="age" ><br>
                                            </div>
                                            <div class="form-group">
                                                <label for="password">City</label><br>
                                                        <input class="form-control" type="text" id="city" name="city" ><br>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="password">Password</label><br>
                                                                <input class="form-control" type="password" id="password" name="password" ><br>
                                                            </div>
                              
                             
                                    <button type="submit" class="btn btn-info">Submit </button>

                                </form>
                        </div>
                    </div>
                        </div>

    </div>
   
</body>
</html>