<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<form action="/new_user" method="post">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="name" ><br>
    <label for="lname">Age:</label><br>
    <input type="text" id="lname" name="age" ><br><br>
    <label for="lname">City:</label><br>
    <input type="text" id="lname" name="city"><br><br>
    <input type="submit" value="Submit">
  </form> 
</body>
</html>