<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
         <!-- /. NAV TOP  -->
         <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            <img src="/assets/img/user.png" class="img-thumbnail" />

                            <div class="inner-text">
                                Alex with White Hair
                            <br />
                                <small>Last Login : 2 Weeks Ago </small>
                            </div>
                        </div>

                    </li>


                    <li>
                        <a class="active-menu" href="/adminHome"><i class="fa fa-dashboard "> </i>Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop "></i>UI Elements <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="/tabs_panels"><i class="fa fa-toggle-on"></i>Tabs & Panels</a>
                            </li>
                            <li>
                                <a href="/notifications"><i class="fa fa-bell "></i>Notifications</a>
                            </li>
                             <li>
                                <a href="/progress"><i class="fa fa-circle-o "></i>Progressbars</a>
                            </li>
                             <li>
                                <a href="/buttons"><i class="fa fa-code "></i>Buttons</a>
                            </li>
                             <li>
                                <a href="/icons"><i class="fa fa-bug "></i>Icons</a>
                            </li>
                             <li>
                                <a href="/wizard"><i class="fa fa-bug "></i>Wizard</a>
                            </li>
                             <li>
                                <a href="/typography"><i class="fa fa-edit "></i>Typography</a>
                            </li>
                             <li>
                                <a href="/grid"><i class="fa fa-eyedropper "></i>Grid</a>
                            </li>
                            
                           
                        </ul>
                    </li>
                     <li>
                        <a href="#"><i class="fa fa-yelp "></i>Extra Pages <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="/invoice"><i class="fa fa-coffee"></i>Invoice</a>
                            </li>
                            <li>
                                <a href="/pricing"><i class="fa fa-flash "></i>Pricing</a>
                            </li>
                             <li>
                                <a href="/component"><i class="fa fa-key "></i>Components</a>
                            </li>
                             <li>
                                <a href="/social"><i class="fa fa-send "></i>Social</a>
                            </li>
                            
                             <li>
                                <a href="/messages_task"><i class="fa fa-recycle "></i>Messages & Tasks</a>
                            </li>
                            
                           
                        </ul>
                    </li>
                    <li>
                        <a href="/table"><i class="fa fa-flash "></i>Data Tables </a>
                        
                    </li>
                     <li>
                        <a href="#"><i class="fa fa-bicycle "></i>Forms <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                           
                             <li>
                                <a href="/form"><i class="bi bi-person-add"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                                    <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                                  </svg></i>Add New User</a>
                            </li>
                            <li>
                                <a href="/allusers"><i class="fa fa-user "></i>All Users</a>
                            </li>
                             <li>
                                <a href="/approved"><i class="fa fa-code "></i>Shopping Users</a>
                            </li>
                            <li>
                                <a href="/adminRoom"><i class="fa fa-code "></i>Add new hotels</a>
                            </li>
                            <li>
                                <a href="/editRoom"><i class="fa fa-code "></i>edit information</a>
                            </li>
                            <li>
                                <a href="/bookinginfo"><i class="fa fa-code "></i>Booking information</a>
                            </li>
                             
                           
                        </ul>
                    </li>
                      <li>
                        <a href="/gallery"><i class="fa fa-anchor "></i>Gallery</a>
                    </li>
                     <li>
                        <a href="/error"><i class="fa fa-bug "></i>Error Page</a>
                    </li>
                    <li>
                        <a href="/login"><i class="fa fa-sign-in "></i>Login Page</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap "></i>Multilevel Link <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="#"><i class="fa fa-bicycle "></i>Second Level Link</a>
                            </li>
                             <li>
                                <a href="#"><i class="fa fa-flask "></i>Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#"><i class="fa fa-plus "></i>Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-comments-o "></i>Third Level Link</a>
                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </li>
                   
                    <li>
                        <a href="/blank"><i class="fa fa-square-o "></i>Blank Page</a>
                    </li>
                </ul>

            </div>

        </nav>
</body>
</html>